<div class="mbot-300">
    <h3>OnInit and OnDestroy using Component</h3>
    <h3>Example-1:</h3><br/><br/>
    <button class="btn btn-primary" (click)="onToggleCP1()">Toggle</button><br/>
    <div *ngIf="showCP1" class="mt-4">
      <app-comp1></app-comp1>
    </div>
    <br/>
    <div *ngIf="cp1log">
      <div *ngIf="cp1log.logType === 'c'">
        <font color="green">{{cp1log.message}}</font>
      </div>
      <div *ngIf="cp1log.logType === 'r'">
        <font color="red">{{cp1log.message}}</font>
      </div>
    </div>

    <br/><h3>Example-2:</h3><br/><br/>
    <button class="btn btn-primary" (click)="onToggleCounter()">Toggle Counter</button>
    <div *ngIf="showCounter">
      <app-counter></app-counter>
    </div>

    <br/>
    <h3>OnInit and OnDestroy using Directive</h3>
    <app-comp2></app-comp2>
</div>
