<h2 class="text-center">Angular Material Tutorial</h2><br/>

<div>
  <p>
    <a [routerLink]="['/app-material/material-checkbox']"
      routerLinkActive="active">Angular Material Checkbox Example</a>
  </p>
</div>

<div>
  <p>
    <a [routerLink]="['/app-material/material-table']"
      routerLinkActive="active">Angular Material Table + Sorting + Pagination</a>
  </p>
</div>

<div>
  <p>
    <a [routerLink]="['/app-material/material-textarea']"
      routerLinkActive="active">Angular Material Textarea</a>
  </p>
</div>

<div>
  <p>
    <a [routerLink]="['/app-material/material-radio']"
      routerLinkActive="active">Angular Material Radio Button</a>
  </p>
</div>

<div>
  <p>
    <a [routerLink]="['/app-material/material-toggle']"
      routerLinkActive="active">Angular Material Slide Toggle</a>
  </p>
</div>
