<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<http auto-config="false" use-expressions="true">
		<intercept-url pattern="/admin" access="hasRole('ADMIN')" />
		<intercept-url pattern="/user" access="hasRole('USER')" />
		<intercept-url pattern="/manager" access="hasAnyRole('MANAGER', 'ADMIN')" />
		<form-login login-page="/login"
			username-parameter="j_username"
			password-parameter="j_password"
			login-processing-url="/j_spring_security_check"
			authentication-success-handler-ref="mySuccessHandler"
			authentication-failure-url="/login?incorrectAccount"/>
		<access-denied-handler error-page="/access-denied"/>
		<session-management invalid-session-url="/login"/>
		<logout delete-cookies="JSESSIONID"/>
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="myUserDetailService">
			<password-encoder ref="bcryptPasswordEncoder"/>
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="bcryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
	<beans:bean id="myUserDetailService" class="edu.txt.service.MyUserDetailService"/>
	<beans:bean id="mySuccessHandler" class="edu.txt.service.MySuccessHandler"/>

</beans:beans>
<!-- /j_spring_security_check gọi đến action security -->
