<h2 class="text-center">Tutorial about Services</h2><br/>

<div>
  <p>
    <a [routerLink]="['/app-services/app-renderer2']"
      routerLinkActive="active">Angular 4 Renderer2</a>
  </p>
</div>

<div>
  <p>
    <a [routerLink]="['/app-services/meta-tags']"
      routerLinkActive="active">Angular Meta Service for Meta Tags</a>
  </p>
</div>

<div>
  <p>
    <a [routerLink]="['/app-services/title-canonical']"
      routerLinkActive="active">Angular Title Service and Canonical URL</a>
  </p>
</div>
