body{
    font-family: 'Merriweather', serif;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

button{
    width: 250px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 15);
    cursor: pointer;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 15);
    color: #fff;
    position: relative;
    overflow: hidden;
}

button:nth-child(1){
    background-color: blueviolet;
}

button:nth-child(2){
    background-color: tomato;
}

.ripple{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    transform: translate(-50%, -50%);
    animation: animationRipple1 1s ease-in-out;
    border-radius: 50%;
}

@keyframes animationRipple1{
    100%{
        width: 400px;
        height: 400px;
        border-radius: 50%;
        opacity: 0;
    }
}

button:nth-child(1):active{
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 15);
}

button:nth-child(2):active{
    transform: translate(3px, 3px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 15);
}

