<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- <context:component-scan base-package="com.txt.service"/> -->
	<http pattern="/resources/**" security="none" /> 

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/manage/**" access="hasRole('ADMIN')" />
		<intercept-url pattern="/user" access="hasRole('USER')" />
		<intercept-url pattern="/**" access="permitAll" />
		<form-login login-page="/login" 
			default-target-url="/home"
			username-parameter="j_username" 
			password-parameter="j_password"
			login-processing-url="/j_spring_security_check"
			authentication-failure-url="/login?incorrectAccount"
			authentication-success-handler-ref="mySuccessHandler" />

		<access-denied-handler error-page="/access-denied"/>
		<session-management invalid-session-url="/login" />
		<logout delete-cookies="JSESSIONID" />
		<!-- <http-basic entry-point-ref="myBasicAuthenticationEntryPoint" /> -->
	</http>
	
	<!-- <http pattern="/**" use-expressions="true" auto-config="true" realm="txt">
		<intercept-url pattern="/**" access="permitAll()" />
		<http-basic entry-point-ref="myBasicAuthenticationEntryPoint" />
	</http> -->

	<authentication-manager>
		<!-- <authentication-provider>
			<user-service>
				<user name="admin" password="123456" authorities="ADMIN" />
				<user name="user" password="123456" authorities="USER" />
			</user-service>
		</authentication-provider> -->

		<authentication-provider user-service-ref="myUserDetailService">
			<password-encoder ref="bcryptPasswordEncoder" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="bcryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	<beans:bean id="myUserDetailService" class="com.txt.service.MyUserDetailService" />
	<beans:bean id="mySuccessHandler" class="com.txt.service.MySuccessHandler" />
	<beans:bean id="myBasicAuthenticationEntryPoint" class="com.txt.restfull.MyBasicAuthenticationEntryPoint" />

</beans:beans>

