<div class="mbot-300">
  <h3>1. createElement(), createText(), appendChild()</h3>
  <ul appCp1>
    <li>Click here to add li</li>
  </ul>

  <br/><h3>2. insertBefore()</h3>
  <div>
    <div appCp2>Click</div>
  </div>

  <br/><h3>3. removeChild()</h3>
  <div appCp3>Mouse Over</div>

  <br/><h3>4. selectRootElement()</h3>
  <div appCp4>Click</div>
  <div class="myclass"></div>

  <br/><h3>5. setAttribute() and removeAttribute()</h3>
  <div>
    <p>Mouse Over on Input Box</p>
    <input type="text" appCp5/>
  </div>

  <br/><h3>6. setProperty()</h3>
  <div appCp6>--- Click Here --- </div>
  <br/>Note: Id will be added to div tag

  <br/><h3>7. addClass() and removeClass()</h3>
  <p>Mouse Over on below word</p><br/>
  <div appCp7>--- Namaste! --- </div>

  <br/><h3>8. setStyle() and removeStyle()</h3>
  <div appCp8> Toggle </div>

  <br/><h3>9. parentNode()</h3>
  <div>
    <div>Namaste!!</div>
    <div appCp9> --- Click Here --- </div>
  </div>

  <br/><h3>10. createComment()</h3>
  <div appCp10> --- Click Here --- </div>

  <br/><h3>11. listen()</h3>
  <div appCp11> --- Click Here --- </div>
</div>
