<h3 class="text-center">Change Password</h3>
<div class="col-md-7 offset-md-3 mb-5">
  <form (ngSubmit)="submitChangePassword()" [formGroup]="changePassForm">
    <div class="form-group">
      <label class="col-form-label">Notification Mode</label>

      <input type="radio" class="ml-4" id="emailNotification" value="email"
          formControlName="notificationMode">
      <label for="emailNotification">&nbsp;Email</label>

      <input type="radio" class="ml-4" id="mobileNotification" value="mobile"
          formControlName="notificationMode" >
      <label for="mobileNotification">&nbsp;Mobile</label>

      <input type="radio" class="ml-4" id="bothNotification" value="both"
          formControlName="notificationMode">
      <label for="bothNotification">&nbsp;Both</label>
      <p class="error" *ngIf="changePassForm.dirty && notificationMode.invalid">
          Notification is required
      </p>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email">

      <ng-container *ngIf="changePassForm.dirty && email.errors;">
        <span class="error" *ngIf="email.errors.required">Email is required</span>
        <span class="error" *ngIf="email.errors.email">Email is invalid with email format</span>
      </ng-container>
      <!-- <ng-template #emailInvalid>
        <span *ngIf="email.invalid" class="error">Email is invalid</span>
      </ng-template> -->
    </div>
    <div class="form-group">
      <label for="mobile">Mobile</label>
      <input class="form-control" formControlName="mobile">
      <label class="error" *ngIf="changePassForm.dirty && mobile.errors">
        <span *ngIf="mobile.errors.required">Mobile is required</span>
      </label>
    </div>

    <div class="form-group">
      <label for="password">Old password</label>
      <input type="password" class="form-control" formControlName="oldPassword">
      <label class="error" *ngIf="changePassForm.dirty && oldPassword.errors">
        <span *ngIf="oldPassword.errors.required">Old password is required</span>
        <span *ngIf="oldPassword.errors.matchForUsername">Old password can not be same as username</span>
      </label>
    </div>
    <div class="form-group">
      <label for="password">New password</label>
      <input type="password" class="form-control" formControlName="newPassword">
      <label class="error" *ngIf="changePassForm.dirty && newPassword.errors">
        <span *ngIf="newPassword.errors.required">New password is required</span>
        <span *ngIf="newPassword.errors.ruleNewPassword">New password must be greater than 3 characters</span>
      </label>
    </div>
    <div class="form-group">
      <label for="">Confirm new password</label>
      <input type="password" class="form-control" formControlName="confirmNewPassword">
      <label class="error" *ngIf="changePassForm.dirty && confirmNewPassword.errors">
        <span *ngIf="confirmNewPassword.errors.required">Confirm new password is required</span>
        <span *ngIf="confirmNewPassword.errors.validMatchPassword">Password confirm not match with new password</span>
      </label>
    </div>

    <button class="btn btn-primary mt-2" [disabled]="changePassForm.invalid">Submit</button>
  </form>
</div>
