<h3 class="text-center mb-4">Add Article</h3>
<div class="offset-md-3 col-md-8">
    <form [formGroup]="articleForm" #formDir="ngForm">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-7">
          <input class="form-control" formControlName="title">
          <label *ngIf="title.invalid && (title.dirty || formDir.submitted)"
              [ngClass]="'error'">Title is required</label>
        </div>
      </div>
      <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label">Category</label>
        <div class="col-sm-7">
          <input class="form-control" formControlName="category">
          <label *ngIf="category.invalid && (category.dirty || formDir.submitted)"
              [ngClass]="'error'">Category is required</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2"></label>
        <div class="col-sm-7 d-flex justify-content-end">
          <button class="btn btn-primary px-5" (click)="onFormSubmit()">Add</button>
          <button class="btn btn-primary ml-4" (click)="saveArticle()">Save Article</button>
        </div>
      </div>
    </form>
</div>
