<button class="btn btn-primary" (click)="loadAllArticles()">Show All Articles</button><br><br>
<button class="btn btn-primary" (click)="createArticleView()">Create Article</button><br><br>
<button class="btn btn-primary" (click)="getArticleByIdView()">Search Article By Id</button><br><br>

<div [ngSwitch]="task">
    <ng-template [ngSwitchCase]= "'all'">
        <ul>
            <li *ngFor="let article of articles$ | async">
                {{article.id}} - {{article.title}} - {{article.category}}
            </li>
        </ul>
    </ng-template>

    <ng-template [ngSwitchCase]= "'create'">
        <p> <b>{{ message$ | async }}</b> </p>
        <form [formGroup]="articleForm" (ngSubmit)="onFormSubmit()">
                <p> Enter New Id: <input formControlName="id">
                    <label *ngIf="id.errors?.required && !articleForm.pristine" style="color:red">
                            Enter article id
                    </label>
                </p>
           <p> Enter Title: <input formControlName="title"> </p>
           <p> Enter Category: <input formControlName="category"> </p>
           <p> <button> Submit </button> </p>
        </form>
        <ul>
            <li *ngFor="let article of articles$ | async">
                {{article.id}} - {{article.title}} - {{article.category}}
            </li>
        </ul>
    </ng-template>

    <ng-template [ngSwitchCase]= "'get'">
        <!-- <p> Enter Id: <input [(ngModel)]="articleId" (input)="searchArticleById(articleId)">  </p> -->
        <p> Enter Id: <input [(ngModel)]="id" (input)="searchArticleById(id)">  </p>
        <ul>
            <li *ngFor="let article of articles$ | async">
                {{article.id}} - {{article.title}} - {{article.category}}
            </li>
        </ul>
    </ng-template>
    <ng-template ngSwitchDefault> <br/><b>Select Task</b> </ng-template>
</div>
